}

<h2>NewScreen</h2>
<label for="txtStudName">Student Name</label>
<input type="text" id="txtStudName" />
<label for="txtStudRollNo">Student RollNumber</label>
<input type="text" id="txtStudRollNo" />
<button type="submit" onclick="InsertDetails()">Upload</button>
<button type="submit" onclick="GetDetails()">List</button>
<table>
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Student RollNumber</th>
        </tr>

    </thead>
    <tbody id="tbtable"></tbody>

</table>
